@import "vendors/reset.scss";
@mixin large {
  @media (min-width: 1400px) {
    @content;
  }
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.element {
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 0.65rem;
}
$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal
  alkalineEarthMetal actinide metalloid otherNonMetal;
$color: 0;
@each $type in $types {
  $color: $color + 30;
  .element--#{$type} {
    background-color: hsl($color 80% 40% / 65%);
  }
}
@for $i from 1 through 18 {
  .element[data-group^="#{$i}"] {
    grid-column: $i;
  }
}

.table {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 0.5rem;
  padding: 0.5rem;
  @include large {
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}
